[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.31.0"
fastapi = "0.70.0"
pydantic = "1.8.2"
uvicorn = "0.15.0"
pandas = "1.3.4"
numpy = "1.21.3"
rdkit-pypi = "2021.9.2"
sqlalchemy = "1.4.26"
beautifulsoup4 = "4.10.0"
lxml = "4.6.4"
jinja2 = "3.0.2"
psycopg2 = "2.9.1"
boto3 = "1.35.18"

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
