<table>
    <thead>
        <tr>
            {%- for col in thead %}
            <th>{{col}}</th>
            {%- endfor %}
        </tr>
    </thead>
    <tbody>
    {%- for row in rows %}
        <tr>
            {%- for col in row %}
            <td>{{col}}</td>
            {%- endfor %}
        </tr>
    {%- endfor %}
    </tbody>
</table>